@import '~vuetify/dist/vuetify.min.css';

@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap');



// @font-face {
//     font-family: JetBrainsMonoRegular;
//     src: url(./fonts/JetBrainsMono-Regular.woff2) format('woff2'), url(./fonts/JetBrainsMono-Regular.woff) format('woff'), url(./fonts/JetBrainsMono-Regular.ttf) format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: JetBrainsMonoItalic;
//     src: url(./fonts/JetBrainsMono-Italic.woff2) format('woff2'), url(./fonts/JetBrainsMono-Italic.woff) format('woff'), url(./fonts/JetBrainsMono-Italic.ttf) format('truetype');
//     font-weight: 400;
//     font-style: italic;
// }
@font-face {
    font-family: JetBrainsMonoMedium;
    src: url(fonts/JetBrainsMono-Medium.woff2) format('woff2'),
         url(fonts/JetBrainsMono-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}
// @font-face {
//     font-family: JetBrainsMonoMediumItalic;
//     src: url(./fonts/JetBrainsMono-Medium-Italic.woff2) format('woff2'), url(./fonts/JetBrainsMono-Medium-Italic.woff) format('woff'), url(./fonts/JetBrainsMono-Medium-Italic.ttf) format('truetype');
//     font-weight: 500;
//     font-style: italic;
// }
// @font-face {
//     font-family: JetBrainsMonoBold;
//     src: url(./fonts/JetBrainsMono-Bold.woff2) format('woff2'), url(./fonts/JetBrainsMono-Bold.woff) format('woff'), url(./fonts/JetBrainsMono-Bold.ttf) format('truetype');
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: JetBrainsMonoBoldItalic;
//     src: url(./fonts/JetBrainsMono-Bold-Italic.woff2) format('woff2'), url(./fonts/JetBrainsMono-Bold-Italic.woff) format('woff'), url(./fonts/JetBrainsMono-Bold-Italic.ttf) format('truetype');
//     font-weight: 700;
//     font-style: italic;
// }
// @font-face {
//     font-family: JetBrainsMonoExtraBold;
//     src: url(./fonts/JetBrainsMono-ExtraBold.woff2) format('woff2'), url(./fonts/JetBrainsMono-ExtraBold.woff) format('woff'), url(./fonts/JetBrainsMono-ExtraBold.ttf) format('truetype');
//     font-weight: 900;
//     font-style: normal;
// }
// @font-face {
//     font-family: JetBrainsMonoExtraBoldItalic;
//     src: url(./fonts/JetBrainsMono-ExtraBold-Italic.woff2) format('woff2'), url(./fonts/JetBrainsMono-ExtraBold-Italic.woff) format('woff'), url(./fonts/JetBrainsMono-ExtraBold-Italic.ttf) format('truetype');
//     font-weight: 900;
//     font-style: italic;
// }




html, body {
    height: 100%;
    overflow: hidden;
}

.pink-links a {
    color: #cc0788 !important;

    &:hover {
        color: #ff06a9 !important;
    }
}

.application {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.progress-bar {
    div {
        display: inline-block;
        border-radius: 4px;
        padding: 5px 0px 0px 0px;
        margin: 0px;
        text-align: center;
        font-size: 16px;
    }
}

.rounded {
    border-radius: 6px;
}

#sandbox.theme--light {

    h2 {
        color: #3f51b5;
    }

    .progress-bar {
        div {
            color: #ffffff;
            background-color: #008bec;
        }
    }

}

#sandbox.theme--dark {

    h2 {
        color: #9d8f71;
    }

    .progress-bar {
        div {
            background-color: #00394a;
        }
    }

}


html, body, * {
    font-family: 'Comfortaa', sans-serif;
}

html {
    font-size: 22px;
}

footer {
    height: auto !important;
}




h2 {
    margin-top: 60px;
}

p {
    font-size: 22px;
    line-height: 34px;
}

.footer-pad {
    padding: 10px 30px;
}

.v-footer {
    font-size: 14px;
}

.dynamicButtonSize {
    font-size: 34px;
    padding: 7px 20px;
}

.dynamicTextSize {
    font-size: 14px;
    position: relative;
    top: -6px;
}

.v-list {

    a {
        font-size: 1rem !important;
    }


    .primary--text {

        &.theme--dark {
            color: #00bbff !important;
            caret-color: #00bbff !important;
        }

        &.theme--light {
            color: #485bbd !important;
            caret-color: #485bbd !important;
        }

    }
}

.v-toolbar.theme--light {
    background-color: #3f51b5;
    color: white;

    .v-btn .v-btn__content .v-icon {
        color: white;
    }
}


.v-label.theme--light {
    color: white;
}

.theme--dark.v-navigation-drawer {
    background-color: #151515;
}

.theme--dark.application {
    background-color: #0f0f0f;
}

.theme--dark.v-list .v-list__group__header:hover,
.theme--dark.v-list .v-list__tile--highlighted,
.theme--dark.v-list .v-list__tile--link:hover {
    color: #f5c764;
}

.v-list__tile {
    color: #696969;
}


.theme--light.v-list .v-list__group__header:hover,
.theme--light.v-list .v-list__tile--highlighted,
.theme--light.v-list .v-list__tile--link:hover {
    color: #921414;
}

:focus {
    outline: 0px;
}

.low-center-right {
    text-align: right;
}

.skill-badge {
    max-height: 80px;
    margin: 5px 10px;
}

@media only screen and (max-width: 761px) {

    html {
        font-size: 18px;
    }

    p {
        font-size: 18px;
        line-height: 26px;
    }

    .skill-badge {
        max-height: 50px;
        margin: 5px 10px;
    }

    .dynamicButtonSize {
        font-size: 28px;
        padding: 7px 20px;
    }

    .dynamicTextSize {
        top: -4px;
    }

    .low-center {
        text-align: center;
    }

    .low-center-right {
        text-align: center;
    }

}

.responsive {
    max-width: 100%;
    height: auto;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-21by9::before {
    padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.embed-responsive-4by3::before {
    padding-top: 75%;
}

.embed-responsive-1by1::before {
    padding-top: 100%;
}

.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
